/* **************************************** 
    se exhibe el camino de cada eneatipo 
        para ser leido 
*******************************************  */
#explicacion_inicial
{
    grid-column: 1/2;
    grid-row:3/4;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top:30px;
    margin-bottom:0px;
}
.subtitulo_explicacion_inicial
{
    text-align: center;
    margin: opx;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
@for $i from 1 through 9 
{ 
    .explicacion_del_camino_inicial:nth-of-type(#{$i})
    { 
        grid-column: 1/3;
        grid-row:1/3;
        border:1px solid black;
        border-radius:5px;
        background-color: $color-fondo-de-explicacion; 
        padding :10px;
        margin:10px;
        height: fit-content;
        visibility:hidden;
        animation-name: entra_explicacion_inicial;
        animation-fill-mode: forwards;
        animation-delay: ( $duracion - $duracion * (( 10 - $i ) / 9 ) );
        animation-duration: ( $duracion / 9);
        animation-iteration-count: 1;
        animation-timing-function:linear;
    }
}
@keyframes entra_explicacion_inicial
{
    0% {visibility: hidden;transform:translate(950px, -100px); size:200%;background-color: $color-fondo-de-explicacion;font-weight: bold;}
    10% {visibility:visible;transform:translate(950px, -100px); size:200%;background-color:$color-fondo-de-explicacion;font-weight: bold}
    80% {visibility:visible;transform:translate(950px, -100px); size:200%;background-color:transparent;font-weight: bold}
    85% {visibility:visible;transform:translate(950px, -100px); size:150%;background-color:transparent;font-weight:100}
    90% {visibility:visible;transform:translate(950px, -100px); size:120%;background-color:transparent;font-weight:100}
    94% {visibility:hidden;transform:translate(950px, -100px); size:120%;background-color:transparent;font-weight:100}
    100% {visibility: hidden;transform:translate(950px, -100px); size:120%;background-color:transparent;}
}
/* **************************************************
   se almacena la explicacion del camino en un cuadro 
                     difuminado en el fondo 
   **************************************************  */
#explicacion
{
    grid-column: 2/12;
    grid-row: 2/6;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    height:fit-content;
}
.subtitulo_explicacion
{
    text-align: center;
    margin: opx;
    font-size: 14px;
    font-style: italic;
}
@for $i from 1 through 9 
{ 
    .explicacion_del_camino:nth-of-type(#{$i})
    { 
        color:black;
        animation-name: entra_explicacion;
        animation-fill-mode: forwards;
        animation-delay: ( $duracion - $duracion * (( 10 - $i ) / 9 ) );
        animation-duration: $duracion/9;
        animation-iteration-count: 1;
        animation-timing-function:linear; 
        visibility: hidden;
        min-width: 100px;
        width: 25%;
        border:1px solid black;
        margin: 1px;
        padding: 3px;
        border-radius: 5px;
        height: fit-content;
    }
}
@keyframes entra_explicacion 
{
    0% {visibility: hidden; color:$color-difuminado; font-size:10px}
    50% {visibility: hidden; color:$color-difuminado; font-size:10px}
    96% {visibility: hidden; color:$color-difuminado; font-size:10px;}
    100% {visibility: visible; color:$color-difuminado; font-size:10px;}
} 
