@keyframes entrada_del_mandala
{
    @for $i from 1 through 100 
    { 
        #{$i}% 
        {   
            width: 130%-(113%* $i / 100); 
            transform:rotate((360deg / 100)* $i);
            translate:((-30%+ 30 * $i/100) (-60%+ 60 * $i/100)) ;
            max-height:fit-content; 
        }
    }
}
#mandala 
{
    width: 19%; 
    animation-name:entrada_del_mandala;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-duration: $mandala-duration;
    animation-iteration-count: 1;
    min-width: 150px;
    max-height: 180px;
}