#imagen_de_mirada_interior
{
  max-height:150px; 
  max-width:220px;
}
#foto
{
  max-height:300px; 
  max-width:400px;
  min-width:200px
}
#mandala1
{
  width:17%;
  min-width: 150px;
  max-height:180px;
}
#mandala_con_flechas
{
  min-width: 40px;
}
#imagen_del_boton
{
  width:26px;
  height:26px;
}