@mixin fonts($weight, $style)
{
  font-weight:$weight;
  font-style:$style;  
}
h1
{
  font-family: $font-titulos;
}
h2
{
  font-family: $font-titulos;
}
h3
{
  font-family:$font-subtitulos;
  @include fonts(bolder,italic);
}
h4
{
  font-family: $font-titulos;
}
h5
{
  font-family:$font-subtitulos ;
  @include fonts(bolder,italic);
}
h6
{
  font-family:$font-parrafos;
  @include fonts(bold,normal);
}
a
{
    text-decoration:none;
}
.font-merri
{
  font-family:$font-parrafos;
}
.texto-chico
{
  font-size:60% !important;
  @include fonts(bold,normal);
}
.texto-mediano
{
  font-size:90% !important;
  @include fonts(bold,normal) ;
}
.texto-boton
{
  font-size:75% !important;
  @include fonts(bolder,normal);
  font-family: 'Gloock', serif;
}