$color-hover:rgb(209, 249, 227);
$font-titulos:'Rye', cursive;
$font-subtitulos:'Merriweather', serif;
$font-parrafos: 'Merriweather';
$duracion:30s;
$color-fondo-de-explicacion:yellow;
$color-difuminado:gray;
